@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700&display=swap');


*{
    margin: 0;
    padding: 0;
}

.home_page{
    background-color: #fffbf5;
}


/* landing screen */

.home_screen1{
    display: flex ;
    flex-direction: column;
}

.landing_screen{
    display: flex;
    /* border: 3px solid violet; */
    background-color: #F7EFE5;
    width: 90%;
    height: 70vh;
    margin: 0 auto ;
    border-radius: 10px;
}

.poster{
    /* border: 2px solid red; */
    height: 80%;
    /* border-radius: 2px; */
}
.banner{
    /* border: 2px solid black; */
    height: 100%;
    border-radius: 10px;
    margin: 10% 0% 0% 20% ;
}

.company_tagline img{
    /* border: 2px solid black; */
    margin: 7.5% 0% 0% 30%;
    height: 40%;
    width: 110%;
}

.home_carousel{
    border: 2px solid black;
    width: 200px;
    height: 200px;
    margin-left: 70%;
    display: flex;
    justify-content: center;
    text-align: center;
    
}

.img_carousel{
    border: 2px solid red;
    width: 300px;
    height: 300px;
    margin-right: 100px;
}

.reach{
    display: flex;
    background-color:#FBCA8D;
    width: 80%;
    height: 12vh;
    border-radius: 5px;
    margin: -50px auto ;
    justify-content: space-evenly;
}

.reach_info{
    display: flex;
    /* border: 2px solid black; */
    width: 25%;
    height: 50%;
    border-radius: 5px;
    background-color: #fffbf5;
    margin: auto;
}

.reach_sub_info{
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
}


/* AUTOMOTIVE LUBRICANT  */

.automotive_lubricant{
    border: 2px solid #FBCA8D;
    background-color: #FBCA8D;
    margin-top: 100px;
    width: 100wh;
    height: 250px;
    border-radius: 5px;
}
.content_lubricant{
    width: 50%;
    margin: 2% 0% 0% 5%;
}
.heading_automotive_lubricant{
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    width: fit-content;
}
.border_bottom_heading{
    border-bottom: 4.5px solid black;
    width: 35%;
}
.automotive_description{
    margin-top: 2%;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}
.btn_product_range{
    width: 250px;
    height: 45px;
    background-color: black;
    border-radius: 5px;
    margin-top: 1%;
    float: right;
    margin-right: 10%;
}
.btn_text_product_range{
    color: #FBCA8D;
    font-size: 1.5rem;
    font-weight: 600;
}


/* VISION AND VALUES  */

.vision_n_values{
    display: flex;
    margin-top: 50px;
    height: 90vh;
    width: 100wh;
    background-color: #1A1C39;
    justify-content: space-evenly;
}
.vision{
    width: 40%;
    margin-top: 4%;
    /* border: 2px solid white; */
}
.values{
    width: 40%;
    margin-top: 4%;
    /* border: 2px solid white; */
}

.vision_heading{
    color: white;
    font-size: 3.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-align: center;
}
.vision_box{
    display: flex;
    background-color: #FBCA8D;
    height: 25%;
    width: 85%;
    margin: auto;
    border-radius: 5px;
    margin-top: 20vh;
}
.vision_content{
    display: flex;
    border-radius: 5px;
    justify-content: center;
    margin-left: 10%;
    align-items: center;
}
.vision_content p{
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}
.vision_content p i{
    font-weight: 700;
    font-size: 1.75rem;
}
.values_heading{
    color: white;
    font-size: 3.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-align: center;
}
.border_bottom{
    width: 17%;
    height: 5px;
    background-color:#FBCA8D ;
    margin: auto;
    margin-top: 2px;
}
.values_content{
    /* border: 2px solid pink;/ */
    display: flex;
    flex-direction: column ;
    justify-content: space-evenly;
    color: white;
    height: 90%;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}
.subheading_values{
    font-size: 1.5rem;
    font-weight: 600 ;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
}


/* TESTIMONIAL  */


.heading {
    text-align: center;
    color: #454343;
    font-size: 30px;
    font-weight: 700;
    position: relative;
    margin-bottom: 70px;
    text-transform: uppercase;
    z-index: 999;
}
.white-heading{
    color: #ffffff;
}
.heading:after {
    content: ' ';
    position: absolute;
    top: 100%;
    left: 50%;
    height: 40px;
    width: 180px;
    border-radius: 4px;
    transform: translateX(-50%);
    /* background: url(img/heading-line.png); */
    background-repeat: no-repeat;
    background-position: center;
}
.white-heading:after {
    background: url(https://i.ibb.co/d7tSD1R/heading-line-white.png);
    background-repeat: no-repeat;
    background-position: center;
}

.heading span {
    font-size: 18px;
    display: block;
    font-weight: 500;
}
.white-heading span {
    color: #ffffff;
}
/*-----Testimonial-------*/

.reviews{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FBCA8D;
    margin: 50px 0;
}

.container_reviews{
    height: 500px;
    width: 90%;
    border-radius: 5px;
    background-color: #1A1C39;
    display: flex;
}

.left-column{
    margin: 2%;
    margin-left: 4%;
    width: 35%;
    color: #FBCA8D;
}

.bi-quote{
    font-size: 4rem;
}

.left-text{
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: 600;
}

.column-right{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}

.card{
    height: 375px;
    width: 39%;
    background-color: #F7EFE5;
    z-index: 4;
    margin: auto 0;
    border-radius: 5px;
    background-color: antiquewhite;
}
.user{
    display: flex;
}
.user-photo{
    margin-top: 5%;
    margin-left: 5%;
}
.img-user{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.user-name{
    font-size: 1.5rem;
    font-family: 'Robot', sans-serif;
    font-weight: 600;
    margin-top: 10%;
    margin-left: 5%;
}

.review-text{
    font-size: 1.1rem;
    font-family: 'Robot', sans-serif;
    margin: 3% 6% 0 5%;
    line-height: 1.5rem;
}
.position{
    font-family: 'Roboto', sans-serif;
    text-align: end;
    margin-right: 6%;
    margin-top: 16px;
}

.row_values{
    display: flex;
    margin: 10px;
}

.icon{
    font-size: 2rem;
    margin: 1rem;
    margin-right: 30px ;
}