.banner_product{
    width: 80%;
    height: 250px;
    margin: 25px 10%;
}



.menu {
  /* border: 2px solid black; */
  width: 92%;
  height: auto;
  /* display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 2rem;
  margin-left: 4%;
}


.menuList {
  /* margin-left: 100px;
  width: 70vw;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ; */
  place-items: center;
}

/* MENU ITEM STYLING */

.menuItem {
  /* border: 2px solid red; */
  border-radius: 15px;
  width: 300px;
  height: 400px;
  margin: 20px;
  margin-left: 25px;
  margin-right: 25px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}
.menuItem:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in;
  cursor: pointer;
}

.menuItem img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(223, 221, 216, 0.899);

}

.menuItem h2,
.menuItem h3,
.menuItem p {
  margin-top: 2.5px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 1300px) {
  .menuList {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .menuList {
    grid-template-columns: 1fr;
  }
}